<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/VPKSoft/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="VPKSoft" />
            <add key="ClearTextPassword" value="ec12f92a08991637b8eb9a3b15a8ea6cd2ba973e" />
        </github>
    </packageSourceCredentials>
</configuration>